@page
@model IndexModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Host
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Razor Pages Minification App</title>
</head>
<body>
    <h1>Razor Pages Minification App</h1>
    <p>@Host.ApplicationName @Model.DT</p>
    <figure style="text-align:center;width:400px">
        <img alt="Jack Burton" src="image.png">
        <figcaption>Jack Burton (Kurt Russell)<br><em>Big Trouble in Little China</em><br>&copy;1986 <a href="http://www.foxmovies.com/">20th Century Fox</a></figcaption>
    </figure>
    <p>
        People:
        <ol>
            <!--wmm:ignore-->@for (var i = 0; i < Model.People.Count; i++)
            {
                var person = Model.People[i];
                <text><li>@person</li></text>
            }<!--/wmm:ignore-->
        </ol>
    </p>
    <p>
        <!--wmm:ignore-->@if (Model.People.Count < 10)
        {
            <text>There are less than ten people.</text>
        }<!--/wmm:ignore-->
    </p>
</body>
</html>